<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836282842102-cpvu1vam0empmolm4tpj0a27ckm9o3ju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836282842102-cpvu1vam0empmolm4tpj0a27ckm9o3ju</string>
	<key>API_KEY</key>
	<string>AIzaSyCr-ZyxFdDbz93UVw23_r0xkp2-kebD7Js</string>
	<key>GCM_SENDER_ID</key>
	<string>836282842102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dotdev.inc.ams.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gsayubams</string>
	<key>STORAGE_BUCKET</key>
	<string>gsayubams.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836282842102:ios:31e5e50090fc93f922e5d7</string>
</dict>
</plist>